/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}
.social-button-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  color: #ffffff;
  font-family: Bree Serif;
  margin-bottom: 10px;
}
.like-button {
  background-color: #eab308;
  border-radius: 10px;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  width: 50px;
  color: #ffffff;
  border-width: 0px;
  font-family: Roboto;
}
.comment-button {
  background-color: #ffffff;
  border-radius: 10px;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  width: 90px;
  color: #323f4b;
  border-width: 0px;
  font-family: Roboto;
}
.share-button {
  background-color: #1d4ed8;
  border-radius: 10px;
  height: 40px;
  font-size: 15px;
  margin: 10x;
  width: 60px;
  color: #ffffff;
  border-width: 0px;
  font-family: Roboto;
}

@media screen and (max-width: 768px) {
  .buttons-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
